---
import Layout from '../../layouts/Layout.astro'
import HeroTaining from '../../components/sections/training/HeroTraining.astro'
import AboutUs from '../../components/sections/training/AboutUs.astro'
import TrustedBy from '../../components/sections/training/TrustedBy.astro'
import WhyChooseUs from '../../components/sections/training/WhyChooseUs.astro'
import Container from '../../components/shared/Container.astro'
import BtnLink from '../../components/shared/BtnLink.astro'
import { Image } from 'astro:assets'
import BlogsScroll from '../../components/shared/BlogsScroll.astro'
---

<Layout title='Training | Bitwit Techno' description='' image=''>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <HeroTaining />
    <AboutUs />
    <TrustedBy />
    <WhyChooseUs />

    <section class='py-16'>
      <div class='mb-4'>
        <div
          class='mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12'
        >
          <p
            class='text-base font-semibold uppercase tracking-wide text-primary dark:text-blue-200'
          >
            Popular Courses
          </p>
          <h2
            class='font-heading font-bold tracking-tight text-blue-950 dark:text-white text-3xl sm:text-5xl'
          >
            Choose Our Top
          </h2>
          <p class='max-w-3xl text-xl text-gray-800 dark:text-slate-400'>
            Courses
          </p>
        </div>
      </div>
      <Container>
        <div
          class='grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px] pt-10'
        >
          {
            [...Array(6)].map((item) => (
              <div class='shadow-lg rounded-[8px] transition duration-100 hover:shadow-sm'>
                <div class='h-[248px] rounded-t-[8px] relative'>
                  <Image
                    width={100}
                    height={100}
                    src='/images/inhouse.webp'
                    alt='/images/inhouse.webp'
                    class='w-full h-full object-cover rounded-t-[8px]'
                  />
                  <span class='bg-blue-600 py-1 px-3 text-lg font-semibold rounded text-white absolute left-6 top-6'>
                    Art &amp; Design
                  </span>
                </div>
                <div class='course-content p-8'>
                  <h4 class='text-xl font-bold text-blue-950 dark:text-white'>
                    Basic Fundamentals of Interior &amp; Graphics Design
                  </h4>
                </div>
              </div>
            ))
          }
        </div>
        <div class='mt-10 flex items-center justify-center'>
          <BtnLink
            text='View All Courses'
            href='/training/courses'
            className='flex justify-center w-full sm:w-max hover:outline-blue-950'
            variant='primary'
          />
        </div>
      </Container>
    </section>

    <BlogsScroll />
  </main>
</Layout>
