---
const { pathname } = Astro.url
let path = pathname.split(/[/]/)
---

<section class='flex flex-wrap gap-1 items-center justify-center md:items-start md:justify-start'>
  <a
    href='/'
    class="text-blue-950 dark:text-white cursor-pointer hover:!text-blue-700 after:content-['/'] after:ml-1 after:text-gray-600 transition-all"
    >HOME</a
  >
  {
    path
      .map((p) => (
        <a
          href={`/${p}`}
          class="text-blue-950 dark:text-white cursor-pointer hover:!text-blue-700 after:content-['/'] after:ml-0 after:text-gray-600 transition-all"
        >
          {p.toUpperCase()}
        </a>
      ))
      .slice(1, path.length - 1)
  }
  {
    path
      .map((p) => (
        <p class='text-blue-950 dark:text-gray-500 text-opacity-70 text-sm'>
          {p.toUpperCase()}
        </p>
      ))
      .slice(path.length - 1)
  }
</section>
