---
import Container from './Container.astro'
import Title from './Title.astro'
---

<section>
  <Container className='flex items-center justify-center relative h-[70vh]'>
    <Title>
      Technologies <span
        class='text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-blue-400'
        >We Are</span
      >
      <br />
      <p class='text-center'>Best In</p>
    </Title>
    <span
      class='absolute w-10 h-10 top-8 left-8 rounded-full flex items-center justify-center'
      >i</span
    >
    <span
      class='absolute w-10 h-10 top-32 left-24 rounded-full flex items-center justify-center'
      >i</span
    >

    <span
      class='absolute w-10 h-10 bottom-8 left-8 rounded-full flex items-center justify-center'
      >i</span
    >
    <span
      class='absolute w-10 h-10 bottom-32 left-24 rounded-full flex items-center justify-center'
      >i</span
    >

    <span
      class='absolute w-10 h-10 top-8 right-8 rounded-full flex items-center justify-center'
      >i</span
    >
    <span
      class='absolute w-10 h-10 top-32 right-24 rounded-full flex items-center justify-center'
      >i</span
    >

    <span
      class='absolute w-10 h-10 bottom-8 right-8 rounded-full flex items-center justify-center'
      >i</span
    >
    <span
      class='absolute w-10 h-10 bottom-32 right-24 rounded-full flex items-center justify-center'
      >i</span
    >
  </Container>
</section>
