---
import Layout from '../../layouts/Layout.astro'
import HeroService from '../../components/sections/service/HeroService.astro'
import Services from '../../components/sections/Services.astro'
import ElevateVision from '../../components/sections/service/ElevateVision.astro'
import { services, softwareDevelopmentTab } from '../../utils/data'
import WhyChooseUs from '../../components/sections/service/WhyChooseUs.astro'
import OurProcess from '../../components/sections/OurProcess.astro'
import CTA from '../../components/sections/CTA.astro'
import DevelopmentTeam from '../../components/sections/service/DevelopmentTeam.astro'
import Technologies from '../../components/sections/Technologies.astro'
import BlogsScroll from '../../components/shared/BlogsScroll.astro'
---

<Layout
  title='Services | Bitwit Techno'
  description='With a decade of expertise, we specialize in crafting user-centric SaaS solutions, online applications, and mobile apps. Our seasoned team brings innovation and excellence to every digital project we undertake.'
  image='/images/service.webp'
>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <HeroService />
    <ElevateVision />
    <Services data={services} size={services.length} />
    <WhyChooseUs tabList={softwareDevelopmentTab} />
    <OurProcess />
    <Technologies />
    <DevelopmentTeam />
    <BlogsScroll />
    <CTA />
  </main>
</Layout>
