---
import Container from '../../shared/Container.astro'
import Paragraph from '../../shared/Paragraph.astro'
import Title from '../../shared/Title.astro'
import Masonry from '../Masonry.astro'
---

<Container>
  <div class='text-center max-w-3xl mx-auto space-y-4 mb-16'>
    <Title>Team Synergy Strategies</Title>
    <Paragraph>
      Driving Business Excellence: Elevate Your Operations with Our Cutting-Edge
      IT Solutions and Unwavering Commitment.
    </Paragraph>
  </div>
  <div class='max-w-6xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto'>
    <div class='grid sm:grid-cols-12 gap-6'>
      <div
        class='sm:self-end col-span-12 sm:col-span-7 md:col-span-8 lg:col-span-5 lg:col-start-3'
      >
        <a
          class='group relative block rounded-xl overflow-hidden dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/hire-us'
        >
          <div
            class='aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden'
          >
            <img
              class='group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover'
              src='/images/remote.jpeg'
              alt='Remote Team'
            />
          </div>
          <div class='absolute bottom-0 start-0 end-0 p-2 sm:p-4'>
            <div
              class='text-sm font-bold text-blue-950 rounded-lg bg-white p-4 md:text-md dark:bg-blue-700 dark:text-white'
            >
              Remote Collaboration
            </div>
          </div>
        </a>
      </div>

      <div
        class='sm:self-end col-span-12 sm:col-span-5 md:col-span-4 lg:col-span-3'
      >
        <a
          class='group relative block rounded-xl overflow-hidden dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
          href='/hire-us'
        >
          <div
            class='aspect-w-12 aspect-h-7 sm:aspect-none rounded-xl overflow-hidden'
          >
            <img
              class='group-hover:scale-105 transition-transform duration-500 ease-in-out rounded-xl w-full object-cover'
              src='/images/inhouse.jpeg'
              alt='In House Team'
            />
          </div>
          <div class='absolute bottom-0 start-0 end-0 p-2 sm:p-4'>
            <div
              class='text-sm font-bold text-blue-950 rounded-lg bg-white p-4 md:text-md dark:bg-blue-700 dark:text-white'
            >
              In-House Teams
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</Container>
