---
import Container from '../../shared/Container.astro'
import Paragraph from '../../shared/Paragraph.astro'
import Title from '../../shared/Title.astro'

const { tabList } = Astro.props
---

<Container>
  <div class='text-center max-w-3xl mx-auto space-y-4 mb-16'>
    <Title>Why choose us</Title>
    <Paragraph>
      IT Excellence: Elevate Your Business with Our Cutting-Edge Solutions and
      Commitment.
    </Paragraph>
  </div>

  <div class='why-us grid grid-cols-6 lg:grid-cols-3 gap-5'>
    {
      tabList.map((item: any, index: number) => (
        <div class='shadow-lg rounded-lg relative overflow-hidden cursor-pointer'>
          <div class='backdrop-blur-md bg-opacity-50 bg-white dark:bg-black dark:bg-opacity-50 h-full p-5 hover:backdrop-blur-sm transition-all'>
            <span class='text-4xl font-thin block text-right dark:text-white'>
              {index + 1}
            </span>
            <h4 class='text-xl font-bold block text-right dark:text-white'>
              {item.title}
            </h4>
            <p class='mt-5 text-right dark:text-white'>{item.description}</p>
          </div>
          <img
            src={item.image}
            alt={item.image}
            class='w-[120%] h-[120%] rounded-lg absolute top-0 left-0 bottom-0 right-0 -z-10'
          />
        </div>
      ))
    }
  </div>
</Container>
