---
import Layout from '../layouts/Layout.astro'
import HeroAbout from '../components/sections/about/HeroAbout.astro'
import OurValue from '../components/sections/about/OurValue.astro'
import WhoWeAre from '../components/sections/about/WhoWeAre.astro'
import Brands from '../components/sections/Brands.astro'
import CTA from '../components/sections/CTA.astro'
import Technologies from '../components/sections/Technologies.astro'
---

<Layout
  title='About Us | Bitwit Techno'
  description="Empower your journey with Bitwit Techno's avant-garde IT solutions, fusing technology and creativity for unparalleled innovation and future-proof success."
  image='/images/about-banner.webp'
>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <HeroAbout />
    <WhoWeAre />
    <OurValue />
    <Brands />
    <Technologies />
    <CTA />
  </main>
</Layout>
