---
import Layout from "../layouts/Layout.astro";
import HeroAbout from "../components/sections/about/HeroAbout.astro";
import OurValue from "../components/sections/about/OurValue.astro";
import WhoWeAre from "../components/sections/about/WhoWeAre.astro";
import Brands from "../components/sections/Brands.astro";
import CTA from "../components/sections/CTA.astro";
---

<Layout title="About Us | Bitwit Techno">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <HeroAbout />
    <WhoWeAre />
    <OurValue />
    <Brands />
    <CTA />
  </main>
</Layout>
