---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Contact Us | Bitwit Techno' description='' image=''>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <section class='relative pt-28'></section>
  </main>
</Layout>
