---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
---

<Layout
  title='Home | Bitwit Techno'
  description="Empower your journey with Bitwit Techno's avant-garde IT solutions, fusing technology and creativity for unparalleled innovation and future-proof success."
  image=''
>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    
  </main>
</Layout>
