---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import Services from '../components/sections/Services.astro'
import AboutUs from '../components/sections/AboutUs.astro'
import Features from '../components/sections/Features.astro'
import CTA from '../components/sections/CTA.astro'
import Brands from '../components/sections/Brands.astro'
import { services } from '../utils/data'
import Solutions from '../components/sections/Solutions.astro'
import OurProcess from '../components/sections/OurProcess.astro'
import Technologies from '../components/sections/Technologies.astro'
import BlogsScroll from '../components/shared/BlogsScroll.astro'
---

<Layout
  title='Home | Bitwit Techno'
  description="Empower your journey with Bitwit Techno's avant-garde IT solutions, fusing technology and creativity for unparalleled innovation and future-proof success."
  image='/images/banner-home.webp'
>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <Hero />
    <Brands />
    <Services data={services} size={6} />
    <AboutUs />
    <Solutions />
    <Features />
    <OurProcess />
    <Technologies />
    <BlogsScroll />
    <CTA />
  </main>
</Layout>
