---
import { Image } from 'astro:assets'
import Container from '../../shared/Container.astro'
import Paragraph from '../../shared/Paragraph.astro'
import Title from '../../shared/Title.astro'
import ByNumber from '../ByNumber.astro'
import ByNumberTraining from '../ByNumberTraining.astro'
---

<style>
  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  .tabs .active {
    background: #1d4ed8;
    color: #ffffff;
  }
</style>

<Container>
  <div class='text-center max-w-3xl mx-auto space-y-4 mb-16'>
    <Title>Who we are?</Title>
    <Paragraph>
      Bitwit Techno, previously recognized as a leading IT training institute,
      has undergone a transformative evolution into a formidable presence in
      software development.
    </Paragraph>
  </div>
  <div class='flex flex-col md:flex-row items-center gap-4 md:gap-10'>
    <div class='flex flex-1 gap-4'>
      <Image
        src='/images/training.webp'
        alt='Hero image'
        width='100'
        height='100'
        class='active w-5/12 rounded-3xl object-contain m-auto shadow-2xl border p-5'
      />
      <Image
        src='/images/development.webp'
        alt='Hero image'
        width='2350'
        height='2359'
        class='w-6/12 rounded-3xl object-contain m-auto shadow-2xl border p-5'
      />
    </div>
    <div class='flex-1'>
      <Paragraph className='mt-4'>
        Our journey is a testament to unwavering expertise, continual
        innovation, and an unyielding commitment to excellence. As architects of
        digital solutions, we navigate the dynamic landscape of technology with
        precision, offering cutting-edge software development services. Through
        strategic collaborations and a passion for pushing boundaries, we've
        established ourselves as a dynamic force, delivering impactful and
        sophisticated solutions. Bitwit Techno is not just a company; it's a
        narrative of adaptability, ingenuity, and a relentless pursuit of
        excellence in the realm of software development.
      </Paragraph>
    </div>
  </div>
  <div
    class='flex-1 mt-4 md:mt-20 flex flex-col gap-5 justify-center items-center'
  >
    <nav
      class='p-2 m-auto tabs inline-flex flex-row bg-blue-50 rounded-full dark:bg-box-bg dark:text-white'
    >
      <button
        data-target='panel-1'
        class='tab active py-2 px-6 block rounded-full hover:text-blue-800 focus:outline-none transition-all'
      >
        Training
      </button><button
        data-target='panel-2'
        class='tab ext-gray-600 py-2 px-6 rounded-full block hover:text-blue-800 focus:outline-none transition-all'
      >
        Development
      </button>
    </nav>

    <div id='panels'>
      <div class='panel-1 tab-content active py-5 dark:text-white text-justify'>
        <Paragraph>
          Bitwit Techno stands as your all-encompassing hub for comprehensive IT
          education and career solutions. Our meticulously crafted IT Course
          Training propels you ahead in the rapidly evolving tech landscape,
          equipping you with essential skills and mastery of emerging
          technologies. As your dedicated career partner, our Placement Services
          seamlessly connect your expertise with promising opportunities,
          facilitating a smooth transition into the professional domain.
        </Paragraph>
        <Paragraph className='mt-5'>
          Immerse yourself in real-world applications of knowledge through our
          Project Training programs, meticulously designed to enhance practical
          skills and prepare you for industry challenges. For academic
          excellence, our School Coaching services offer personalized guidance,
          creating a supportive learning environment conducive to success.
        </Paragraph>
        <Paragraph className='mt-5'>
          Experience the convenience of education at your doorstep with our Home
          Tutoring services, where qualified tutors tailor learning experiences,
          ensuring individualized attention for optimal understanding and
          growth. At Bitwit Techno, we go beyond imparting education; we shape
          futures by empowering individuals with the skills and knowledge needed
          to excel in the dynamic realm of IT.
        </Paragraph>
        <ByNumberTraining />
      </div>
      <div class='panel-2 tab-content py-5 text-justify'>
        <Paragraph>
          Welcome to Bitwit Techno's Software Development Services, where
          innovation converges with execution to bring your digital vision to
          life. With an unwavering commitment to excellence, we specialize in
          crafting cutting-edge solutions meticulously tailored to meet your
          unique business needs. Our expert team seamlessly integrates
          creativity with technical prowess, ensuring that every software
          project not only meets but exceeds the highest standards of quality
          and functionality. From initial conceptualization to final deployment,
          we leverage the latest technologies and agile methodologies, ensuring
          the delivery of solutions that are not just in line with expectations
          but elevate them.
        </Paragraph>
        <Paragraph className='mt-5'>
          At Bitwit Techno, we recognize that each software project is a
          distinctive journey, and we embark on it with a collaborative spirit.
          Our client-centric approach involves close collaboration to ensure
          that the developed software not only aligns with business objectives
          but also resonates with end-users through intuitive design and
          seamless functionality. We understand the importance of creating a
          user experience that goes beyond meeting functional requirements –
          it's about building software that users genuinely enjoy and find
          effortlessly efficient.
        </Paragraph>
        <Paragraph className='mt-5'>
          Whether you are launching a new product, enhancing existing software,
          or undergoing a comprehensive digital transformation, Bitwit Techno
          stands as your reliable partner. We thrive on turning complex ideas
          into user-friendly, scalable, and robust software solutions,
          propelling your business confidently into the digital future. Let's
          innovate together and make your digital aspirations a reality.
        </Paragraph>
        <ByNumber />
      </div>
    </div>
  </div>
</Container>
<script>
  const tab = document.querySelectorAll('.tab')
  const panel = document.querySelectorAll('.tab-content')

  function onTabClick(event: any) {
    for (let i = 0; i < tab.length; i++) {
      tab[i].classList.remove('active')
    }

    for (let i = 0; i < panel.length; i++) {
      panel[i].classList.remove('active')
    }

    event.target.classList.add('active')
    let classString = event.target.getAttribute('data-target')
    document
      .getElementById('panels')
      .getElementsByClassName(classString)[0]
      .classList.add('active')
    document
      .getElementById('panels-image')
      .getElementsByClassName(classString)[0]
      .classList.add('active')
  }

  for (let i = 0; i < tab.length; i++) {
    tab[i].addEventListener('click', onTabClick, false)
  }
</script>
